<div class="wrapper">
  <header class="row-fluid" id="header">
    <div class="span4" id="branding">
      <h1 class="logo">OpenCounter</h1>
      <p class="tagline">Start your business in<span class="city">Santa Cruz, CA</span></p>
    </div>
    <div class="pull-right" id="session-links">
      <div>
        <a href="/requests/new?page_id=155">Help</a>
        &nbsp;|&nbsp;
        <a href="/sign_out">Sign Out</a>
      </div>
    </div>
  </header>

  <div class="row-fluid" id="nav-main">
    <ul class="unstyled">
      <li class="nav-7 current"><a href="/pages/welcome" class="section_heading">
        The Idea
      </a></li>
      <li class="nav-6"><a href="/pages/the-team" class="section_heading">
        The Team
      </a></li>
      <li class="nav-5"><a href="/pages/business-details" class="section_heading">
        The Business
      </a></li>
      <li class="nav-4"><a href="/pages/do-you-need-a-building-permit" class="section_heading">
        Building
      </a></li>
      <li class="nav-3"><a href="/pages/fictitious-business-name" class="section_heading">
        Taxes &amp; Fees
      </a></li>
      <li class="nav-2"><a href="/pages/business-license" class="section_heading">
        Licenses
      </a></li>
      <li class="nav-1"><a href="/pages/summary" class="section_heading">
        Summary
      </a></li>
    </ul>
  </div>

  <div class="container-fluid" id="content">
    <div class="row-fluid">
      <div class="span8" id="page">
        <div>
          <h1>Welcome</h1>
          <div class="row-fluid">
            <div class="lead">
              <p>This website has been set up to help you open a small business in Santa Cruz</p>
            </div>

            <div id="additional_text">
              <p>
                By using the site, you'll learn what regulations and fees apply to your business, and what paperwork you’ll need to complete to open your doors. You can use it either for planning or actual submittals for permits. We hope you enjoy it, and please let us know what you think!
              </p>

              <p>
                Please note that the results of this consultation are greatly dependent on the nature and completeness of the information provided to the system. Additional information regarding the property or plans may alter the City's determination or advice on how to proceed with your plans.
              </p>
            </div>

            <form accept-charset="UTF-8" action="/applications/106?page_id=161" method="post">
              <div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="✓">
                <input name="_method" type="hidden" value="put">
                <input name="authenticity_token" type="hidden" value="8hxJ0q7RkGEgqNNmRniRuGuk6rFc5Fh5ogtr44qrzaI=">
              </div>
              <input id="application_last_page_id" name="application[last_page_id]" type="hidden" value="161">
              <div class="form-submit">
                <span><input class="btn btn-large btn-info" name="commit" type="submit" value="save &amp; continue →"></span>
              </div>
              <div class="well" id="help_text">
                <div class="italic">
                  <p>
                    For help with this section. please submit this form to get in touch with the Economic Development Department who will be your best source of information. 
                  </p>
                  If you need more help, please <a href="/requests/new?page_id=161">click here</a> to send an email to the Planning Department.
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="hidden">
  <div class="push"></div>
</div>
